.preferenceBox {
    background-color: #91bfe5;
    border-radius: 5 px; 
    width: 50%;
    margin: auto;
    padding: 10px;
}

.preferenceChoices {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-around;

}

.selectedTypes {
    background-color: #91bfe5;
    border-radius: 5 px; 
    display: flex; 
    justify-content: center;
    width: 95%;
    flex-direction: column;
}

.chosenList {
    display: flex;
    flex-direction: row;
}

.buttonList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.selectedTypes .chosenButton {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #e59191;  
    transition: 200ms;
    margin: 10px 10px;
    font-weight: bolder;
    width: 160px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.unselected button {
  flex-shrink: 0; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
} 

 .selected button {
  flex-shrink: 0; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #e59191;
  transition: 200ms;
  margin: 10px 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
} 
